# ------------------------------------------------------------------------------
# Python
# ------------------------------------------------------------------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments (virtualenv, venv, etc.)
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# VSCode settings folder
.vscode/

# PyCharm project settings
.idea/

# PyInstaller
*.spec
*.manifest

# Unit test / coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS, Windows y Linux basura
.DS_Store
Thumbs.db
*.swp
*.swo
*.temp
*.tmp